<!DOCTYPE html>
<html lang='en' ng-app='filterApp'>
  <head>
    <meta charset='UTF-8'>
    <title>Filter by Name using Angular</title>
    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
  </head>
  <body>
    <div class='container' ng-controller="mainController">
      <div class="jumbotron">
        <h3>Filter students by Name App</h3>
        <div class="col-md-5">
          <h4>Enter Name here :</h4>
          <input type='text' placeholder='Enter name to filter' ng-query='searchName'>
        </div>
        <div class="col-md-7">
          <h4>All students Info :</h4>
          <ul><li ng-repeat="name in unfiltered">{{name}}</li></ul>
        </div>
      </div>
      <div class='jumbotron'>
        <h3>List of filtered Students :</h3>
        <ul><li ng-repeat='name in allData | filter : { name : query }'>{{filtered}}</li></ul>
      </div>
    </div>

    <script>
    angular.module('filterApp', [])
      .controller('mainController', function ($scope) {
        var allStudentsInfo = [
          {
            'name': 'Stívali Serna',
            'mail': 'stivaliserna08@gmail.com',
            'github': 'https://github.com/stivaliserna'
          }, {
            'name': 'Xavier Meroño',
            'mail': 'x.merono@gmail.com',
            'github': 'https://github.com/xmero'
          }, {
            'name': 'Bijay Timilsina',
            'mail': 'bjtimi.007@hotmail.com',
            'github': 'https://github.com/bijay007'
          }, {
            'name': 'Ernesto Parra',
            'mail': 'ernesto-parra@hotmail.com',
            'github': 'https://github.com/ERPG'
          }, {
            'name': 'Francisco Lopez',
            'mail': 'frans.lopez.m@gmail.com',
            'github': 'https://github.com/FransLopez'
          }, {
            'name': 'Ignasi Amargos',
            'mail': 'amargos.ignasi@gmail.com',
            'github': 'https://github.com/IggyA/js-exercises'
          }, {
            'name': 'Jonas Rodon',
            'mail': 'jonasrodon@gmail.com',
            'github': 'https://github.com/JonasRodon'
          }, {
            'name': 'Josep Otal',
            'mail': 'j.otal.pares@gmail.com',
            'github': 'https://github.com/josepotal'
          }, {
            'name': 'Oscar Viciana',
            'mail': 'vicfer.oscar@gmail.com',
            'github': 'https://github.com/oviciana'
          }, {
            'name': 'Alejandro Vazquez',
            'mail': 'alejovp@gmail.com',
            'github': 'https://github.com/alejovp'
          }, {
            'name': 'Carles Far',
            'mail': 'litulandio@gmail.com',
            'github': 'https://github.com/LITULANDIO'
          }, {
            'name': 'Ezequiel Cucchiararo',
            'mail': 'ezequiel.cucchiararo@gmail.com',
            'github': 'https://github.com/EzequielGomezCucchiararo'
          }
        ]

        $scope.allData = allStudentsInfo

        $scope.unfiltered = allData.map(function (elem) {
          return 'Name : ' + elem.name + ' - Email : ' + elem.mail + ' - Github : ' + elem.github
        })
        $scope.filteredNames = allStudentsInfo.filter(function(elem) {
          return 'something';
        });


      })


    </script>
  </body>
</html>
