html
	head
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='http://bootswatch.com/darkly/bootstrap.min.css')
	body
		.container
			.jumbotron
				h3 World's most secure user database registery system

			block content

		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

