html {
	background-color: #ffffff;
	margin :0;
	padding:0;
}

header {
	background-color: red;
	height: 100px;
}

nav {
	background-color: yellow;
	height: 10px;
}

aside {
	background-color: green;
	float: left;
	height: 400px;
	width: 30%;
}

section {
	background-color: black;
	float: right;
	height: 400px;
	width: 70%;
}

footer {
	clear: both;
	background-color: blue;
	height: 100px;
}