<!DOCTYPE html>
<html lang='en' ng-app='filterApp'>

<head>
    <meta charset='UTF-8'>
    <title>Filter by Name using Angular</title>
    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
</head>

<body>
    <div class='container' ng-controller="mainController">
        <div class="jumbotron">
            <h3>Filter students by Name App</h3>
            <div class="row">
                <div class="col-md-3">
                    <h4>Enter Name here :</h4>
                    <input type='text' placeholder='Enter name to filter' ng-model='search'>
                </div>
            </div>
        </div>
        <div class='jumbotron'>
            <h3>List of filtered names :</h3>
            <ul>
                <li ng-repeat="student in allStudents | filter : search">
                    {{student.name}}
                </li>
            </ul>
        </div>
    </div>
    <script src='filterapp.js'></script>
</body>

</html>
