* {
	margin :0;
	padding:0;
	box-sizing: border-box;
	}

html {
	font-family: "Roboto","sans-serif";
	text-rendering: optimizeLegibility;
	font-weight: 300;
	}

body {
	background-image: url("https://s29.postimg.org/6v2eivtc7/dark_pattern_2_wallpaper_1920x1080.jpg");
}

h1 {
	text-align: center;
	color : #FFFF22 ;
	text-shadow: 2px 3px 3px #FF1122;
	}

#main_img {
	display: block;
	margin: auto;
	max-width: 100%;
	}

.game_buttons, .text_area, .results{
	display: block;
	margin: auto;
}

#start, #submit {
	background-color: #4CAF50;
	font-weight: 500;
	border : block;
	margin-top: 1%;
	display: inline-block;
	margin-left: 25%
}

#desc, #word {
	margin-top: 1%;
	display : inline-block;
	margin-left: 15%;
}

input[type=text]:focus {
    background-color: orange;
}

 #wrong, #correct {
	margin-top: 1%;
	display : inline-block;
	width: 50px;
	margin-left: 25%;
}