body {
	margin-left: 10%;
	font-size: 16px;
}

section {
	max-width: 60%;
	text-align: inherit;
}

h1, h2 {
	color : #006600;
}

strong, em {
	color : #FF8500;
}

#bold {
	color : #FFA000;
}

.innerlist {
	color: red;
}

table, th, td {
	border : 1px solid black;
	padding-bottom: : 1px;
}

td {
	color: #4B0082;
}

.input {
	margin-bottom: 2px;
}

fieldset {
	max-width: 50%;
}

.signuplabels {
	color: #8b0000;
	font-weight: 400;
}

#experience {
	margin-top: 1%;
}

footer {
	margin: 1% 0;
}