/*Block elements take 100% of the space available
Block elements are always placed in a newline 

Every box have properties that affect other around them

Margin - outer space between block elements
Padding - inner space between the box and its contents inside
Border - the outermost limit of box - it's visible while the other 2 above are invisible. It can be colored, underlined etc

3 values in the above eg. 20px 10px 5px (20 -> top, 10 -> left&right, 5 -> bottom)

BORDER-BOX includes the border and padding inside the final dimension. Content-box adds the border and padding as separate.

property FLOAT : float to left or right (similar to inline-block). !!! IT applies on subsequent elements too (inline-text -
- doesn't). So need to use clear:all (left or right) after using float on an element

property POSITION :

position : static (it's default) 
position : relative (can activate top,left,bottom,left) - changes position (moves the whole box to the 4 position but 'margin'
			on other hand changes space around it)
position : absolute (fixed sticked position relative to its outer nearest container that's relative)
position : fixed (fixed relative to viewport - scroll doesn't affect as viewport(viewarea) is fixed)
*/